
 @-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 637.7738647460938px;
    stroke-dasharray: 637.7738647460938px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 637.7738647460938px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 637.7738647460938px;
    stroke-dasharray: 637.7738647460938px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 637.7738647460938px;
  }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-1 {
  animation: animate-svg-stroke-1 10000s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
              animate-svg-fill-1  10000s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
              
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 701.9149169921875px;
    stroke-dasharray: 701.9149169921875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 701.9149169921875px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 701.9149169921875px;
    stroke-dasharray: 701.9149169921875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 701.9149169921875px;
  }
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-2 {
  animation: animate-svg-stroke-2 10000s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
              animate-svg-fill-2  10000s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
}

 body {
   min-height: 9000px;
   overflow-x: hidden;
   overflow-y: scroll;
   margin: 0;
 }
 body::before {
   position: fixed;
   content: "";
   top: 0;
   width: 100%;
   height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
 body::after {
   position: fixed;
   content: "";
   top: 0;
   width: 100%;
   height: 100vh;
   background-image: url(../img/goodBG.gif);
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -1;
 }

 #cover {
   position: fixed;
   display: flex;
   width: calc(clamp(350px, 100vw - 30vh, 1000px));
   height: auto;
   top: 50%;
   left: 50%;
 }

 svg {
   width: 100%;
   height: auto;
   position: absolute;
   transform: translate(-50%, -50%);
   z-index: 1;
 }

 #cover::before {
   position: absolute;
   content: "PUIPUI";
   width: calc(clamp(260px, (100vw - 30vh) * 0.75, 750px));
   height: calc(clamp(60px, (100vw - 30vh) * 0.15, 150px));
   top: 50%;
   left: -130%;
   transform: translate(0, -50%);
   line-height:calc(clamp(60px, (100vw - 30vh) * 0.15, 150px));
   padding-left: 30px;
   color: gray;
   background-color: black;
   z-index: 0;
 }

 #cover::after {
   position: absolute;
   content: "";
   width: calc(clamp(260px, (100vw - 30vh) * 0.75, 750px));
   height: calc(clamp(60px, (100vw - 30vh) * 0.15, 150px));
   top: 50%;
   left: -18%;
   transform: translate(0, -50%);
   background-color: white;
   z-index: 0;
 }